.input-app-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.input-number-result-list {
  display: flex;
  flex-direction: column;
}
.input-number-result-list li {
  line-height: 1.5;
  list-style: none;
}